[submodule "lib/N64Recomp"]
	path = lib/N64Recomp
	url = https://github.com/N64Recomp/N64Recomp.git
[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/danielgomesvieira2000/N64ModernRuntime.git
	branch = controller-pak
[submodule "lib/RT64"]
	path = lib/RT64
	url = https://github.com/danielgomesvieira2000/rt64.git
	branch = fix-paused-debugger-highlight
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://github.com/N64Recomp/RecompFrontend.git
